<%= render 'menu' %>

<div class="main-container">
  <h2>자원봉사 모집</h2>

  <table class="board-normal">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>
    </thead>

    <tbody>
    <% @volunteers.order("created_at DESC").each do |volunteer| %>
      <tr>
        <td><%= volunteer.id %></td>
        <td><%= link_to volunteer.title, volunteer %></td>
        <td><%= volunteer.user.id %></td>
        <td><%= volunteer.view_count %></td>
        <td><%= volunteer.created_at.strftime("%Y.%m.%d") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @volunteers %>

  <br>
  <% if user_signed_in? %>
    <%= link_to '새 글쓰기', new_volunteer_path, class: 'new-btn' %>
  <%end %>

</div>
