<%=render 'menu' %>

<div class="main-container">
  <h4>파트너 및 후원사</h4>
  <h5 id="official-partner">Official Partners</h5>
  <div class="op-sponsor">
    <ul class="op-list">
      <li>
        <a href="http://www.smu.ac.kr" target="_blank" rel="noopener">
        <img class="op-img" id="op-smu" src="<%=asset_path 'logo/logo_smu.png' %>" alt="상명대학교">
        </a>
      </li>
      <li>
        <a href="http://smu-lincplus.ac.kr/" target="_blank" rel="noopener">
        <img class="op-img" src="<%=asset_path 'logo/logo_linkplus.png' %>" alt="상명대학교 링크사업단">
        </a>
      </li>
      <li>
        <a href="http://www.hwelfare.or.kr/" target="_blank" rel="noopener">
          <img class="op-img" src="<%=asset_path 'logo/logo_hongeun.png' %>" alt="홍은종합사회복지관">
        </a>
      </li>
    </ul>
  </div>

  <h5 id="sponsor">Official Sponsor</h5>
  <div class="os-sponsor">
    <ul class="op-list">
      <li>
        <a href="#" target="_blank" rel="noopener">
          <img class="os-img" src="<%=asset_path 'logo/logo_plan100.png' %>" alt="플랜100">
        </a>
      </li>
      <li>
        <a href="http://hongjongho.com/" target="_blank" rel="noopener">
          <img class="os-img" src="<%=asset_path 'logo/logo_hongphoto.png' %>" alt="홍종호닷컴">
        </a>
      </li>

      <li>
        <a href="https://theninetyplus.com/" target="_blank" rel="noopener">
          <img class="os-img" src="<%=asset_path 'logo/logo_90plus.png' %>" alt="나인티플러스">
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/cafe_kang/" target="_blank" rel="noopener">
          <img class="os-img" id="os-kangcafe" src="<%=asset_path 'logo/logo_kangcafe.png' %>" alt="강카페">
        </a>
      </li>

      <li>
        <a href="#" target="_blank" rel="noopener">
          <img class="os-img" id="os-redhyang" src="<%=asset_path 'logo/logo_redhyang.png' %>" alt="코난이네 레드향">
        </a>
      </li>

      <li>
        <a href="#" target="_blank" rel="noopener">
          <img class="os-img" id="os-safyou" src="<%=asset_path 'logo/logo_safyou.png' %>" alt="safyou">
        </a>
      </li>
    </ul>
  </div>
</div>