<!--main container-->
<div class="main-container">
  <div class="main-banner">
    <div class="img"><img src="<%=asset_path 'main.png' %>"></div>
    <div class="txt">
      <h2>축구, 그 이상의 가치</h2>
      <h3>IEMU11</h3>
    </div>
  </div>

  <div class="news-line">
    <p class="line-box">news</p>
  </div>

  <div class="news">
    <div class="notice">
      <a href="/boards/1">
        <img class="card-img" src="<%=asset_path 'photo2.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href="/boards/1">신입회원 모집 안내</a>
        <a class="card-category" href="/boards/1/posts/51">공지사항</a>
      </div>
    </div>

    <div class="training">
      <a href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
        <img class="card-img" src="<%=asset_path 'photo2.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href=https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
        [IEMU11 네이버카페] 훈련 공지
        </a>
        <a class="card-category" href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
          훈련안내
        </a>
      </div>
    </div>

    <div class="volunteer">
      <a href="/volunteers">
        <img class="card-img" src="<%=asset_path 'photo2.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href="/volunteers">2021 하반기 연탄봉사 안내</a>
        <a class="card-category" href="/volunteers">봉사활동</a>
      </div>
    </div>
  </div>

  <div class="next-match">
    다음경기 안내
  </div>

  <div class="photo-line">
    <p class="line-box">photo</p>
  </div>

  <div class="photo">
    <div class="photo-main">photo1</div>
    <ul class="photo-aside">
      <li class="photo-aside-item">photo2</li>
      <li class="photo-aside-item">photo3</li>
      <li class="photo-aside-item">photo4</li>
      <li class="photo-aside-item">photo5</li>
    </ul>
  </div>

  <div class="video-line">
    <p class="line-box">video</p>
  </div>

  <div class="video">
    <a href="https://www.youtube.com/channel/UCpq4QCYACaqv_9m_TO-IkdQ" target="_blank" rel="noopener">
      <img class="img-video" src="<%=asset_path 'video.png' %>" alt="">
    </a>
  </div>
</div>