<!--main container-->
<div class="main-container">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%=asset_path 'photo1' %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%=asset_path 'photo2' %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%=asset_path 'photo3' %>" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="news-line">
    <p class="line-box">news</p>
  </div>

  <div class="news">
    <div class="notice">
      <a href="/boards/1">
        <img class="card-img" src="<%=asset_path 'photo2.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href="/boards/1">신입회원 모집 안내</a>
        <a class="card-category" href="/boards/1/posts/51">공지사항</a>
      </div>
    </div>

    <div class="training">
      <a href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
        <img class="card-img" src="<%=asset_path 'photo2.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href=https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
        [IEMU11 네이버카페] 훈련 공지
        </a>
        <a class="card-category" href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
          훈련안내
        </a>
      </div>
    </div>

    <div class="volunteer">
      <a href="/volunteers">
        <img class="card-img" src="<%=asset_path 'photo2.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href="/volunteers">2021 하반기 연탄봉사 안내</a>
        <a class="card-category" href="/volunteers">봉사활동</a>
      </div>
    </div>
  </div>

    <a href="/matches" >
      <img class="img-next-match" src="<%=asset_path 'next_match.png' %>" alt="">
    </a>

  <div class="photo-line">
    <p class="line-box">photo</p>
  </div>

  <div class="photo">
    <div class="photo-main">photo1</div>
    <ul class="photo-aside">
      <li class="photo-aside-item">photo2</li>
      <li class="photo-aside-item">photo3</li>
      <li class="photo-aside-item">photo4</li>
      <li class="photo-aside-item">photo5</li>
    </ul>
  </div>

  <div class="video-line">
    <p class="line-box">video</p>
  </div>

  <div class="video">
    <a href="https://www.youtube.com/channel/UCpq4QCYACaqv_9m_TO-IkdQ" target="_blank" rel="noopener">
      <img class="img-video" src="<%=asset_path 'video.png' %>" alt="">
    </a>
  </div>
</div>