<div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%=asset_path 'sample_main.png' %>" class="main-img d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%=asset_path 'main-img.png' %>" class="main-img d-block w-100" alt="...">
    </div>
  </div>
</div>

<!--main container-->
<div class="main-container">

  <hr>

  <div class="news">
    <div class="notice">
      <a href="/boards/1">
        <img class="card-img" src="<%=asset_path 'sample_1.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href="/posts/<%=@post.id %>"><%= @post.title %></a>
        <a class="card-category" href="/boards/1/posts/51">공지사항</a>
      </div>
    </div>

    <div class="training">
      <a href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
        <img class="card-img" src="<%=asset_path 'sample_1.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href=https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
        [IEMU11 네이버카페] 훈련 공지
        </a>
        <a class="card-category" href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=18%26search.boardtype=L" target="_blank" rel="noopener">
          훈련안내
        </a>
      </div>
    </div>

    <div class="volunteer">
      <a href="/volunteers">
        <img class="card-img" src="<%=asset_path 'sample_1.png' %>" alt="">
      </a>
      <div class="card-post">
        <a class="card-content" href="/volunteers/<%= @volunteer.id %>"><%= @volunteer.title %></a>
        <a class="card-category" href="/volunteers">봉사활동</a>
      </div>
    </div>
  </div>

    <a href="/matches">
      <img class="img-next-match" src="<%=asset_path 'next_match.png' %>" alt="">
    </a>

  <hr>

  <div class="photo_wrap">
    <div class="photo_left">
      <div class="img">
        <img src="<%= asset_path 'photo1' %>" alt="">
      </div>
    </div>
    <ul>
      <li>
        <div class="img">
          <img src="<%=asset_path 'photo2' %>" alt="">
        </div>
      </li>

      <li>
        <div class="img">
          <img src="<%=asset_path 'photo3' %>" alt="">
        </div>
      </li>

      <li>
        <div class="img">
          <img src="<%=asset_path 'photo4' %>" alt="">
        </div>
      </li>

      <li>
        <div class="img">
          <img src="<%=asset_path 'photo5' %>" alt="">
        </div>
      </li>
    </ul>
  </div>

  <hr>

  <div class="video">
    <a href="https://www.youtube.com/channel/UCpq4QCYACaqv_9m_TO-IkdQ" target="_blank" rel="noopener">
      <img class="img-video" src="<%=asset_path 'video.png' %>" alt="">
    </a>
  </div>
</div>