<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
        <% table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'순위' %>
    <%= form.number_field :rank %>
  </div>

  <div class="field">
    <%= form.label :'팀명' %>
    <%= form.text_field :team_name %>
  </div>

  <div class="field">
    <%= form.label :'경기수' %>
    <%= form.number_field :match_count %>
  </div>

  <div class="field">
    <%= form.label :'승점' %>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <%= form.label :'승리 수' %>
    <%= form.number_field :win_count %>
  </div>

  <div class="field">
    <%= form.label :'무승부 수' %>
    <%= form.number_field :draw_count %>
  </div>

  <div class="field">
    <%= form.label :'패배 수' %>
    <%= form.number_field :lose_count %>
  </div>

  <div class="field">
    <%= form.label :'득점 수' %>
    <%= form.number_field :score_count %>
  </div>

  <div class="field">
    <%= form.label :'실점 수' %>
    <%= form.number_field :lost_count %>
  </div>

  <div class="field">
    <%= form.label :'최근 5경기 결과' %>
    <%= form.text_field :recent_form %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
