<%=render 'menu' %>

<div class="main-container">
  <div class="league">
    <img class="k7-logo" src="<%=asset_path 'k7_logo.png' %>" alt="">
    <span class="league-txt">K7 서초권역리그</span>
  </div>


  <table class="rank">
    <thead>
    <tr>
      <th>순위</th>
      <th>팀명</th>
      <th>경기수</th>
      <th>승점</th>
      <th>승</th>
      <th>무</th>
      <th>패</th>
      <th>득점</th>
      <th>실점</th>
      <th>최근 5경기</th>
    </tr>
    </thead>

    <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= link_to table.rank, table %></td>
        <td><span class="team-name"><%= table.team_name %></span></td>
        <td><%= table.match_count %></td>
        <td><%= table.point %></td>
        <td><%= table.win_count %></td>
        <td><%= table.draw_count %></td>
        <td><%= table.lose_count %></td>
        <td><%= table.score_count %></td>
        <td><%= table.lost_count %></td>
        <td><%= table.recent_form %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <% if user_signed_in? %>
    <%= link_to '순위표 추가', new_table_path, class: 'new-btn' %>
  <% end %>

  <div class="table-update">
    업데이트 날짜 <%= @table.updated_at.strftime("%Y.%m.%d") %>
  </div>



</div>
