<%= render 'menu' %>

<div class="main-container">
  <h2><%= @board.title %></h2>

  <table class="board-normal">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>
    </thead>

    <tbody>
    <% @board.posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= link_to post.title, board_post_path(id: post.id, board_id: @board.id) %></td>
        <td><%= post.user_name %></td>
        <td><%= post.view_count %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>



  <br>
  <div class="float-wrap">
    <%= link_to '새 글 쓰기', new_board_post_path(board_id: @board.id), class: "new-btn" %>
  </div>

</div>
