<%= render 'menu' %>

<div class="main-container">

  <h2>일정 및 결과</h2>


    <% @matches.each do |match| %>
    <div class="match-box">
      <div class="match-time-place">
        <div class="match-time"><%= match.time %></div>
        <div class="match-place"><%= match.place %></div>
      </div>

      <div class="match-score"><%= match.score %></div>
      <div class="match-opponent"><%= match.opponent %></div>
      <%= link_to 'Show', match %>
      <%= link_to 'Edit', edit_match_path(match) %>
      <%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>




  <br>
  <div class="float-wrap">
    <%= link_to 'New Match', new_match_path, class: "new-btn" %>
  </div>

</div>
