<%= render 'menu' %>

<div class="main-container">

  <h2>일정 및 결과</h2>

    <% @matches.order("created_at DESC").each do |match| %>
      <div class="m-s-box">
        <div class="m-s-01">
          <div class="m-title"><%= match.title %></div>
        </div>
        <div class="m-s-02">
          <div class="m-time"><%= match.time %></div>
          <div class="m-place"><%= match.place %></div>
        </div>
        <div class="m-s-03">
          <ul>
            <li class="m-name">IEMU11</li>
            <li class="emb"><img class="m-logo-iemu11" src="<%= asset_path 'logo.png' %>" alt=""></li>
            <li class="score"><p><%= match.score %></p></li>
            <li class="emb"><img class="m-logo" src="<%= match.avatar %>" alt=""></li>
            <li class="m-name"><%= match.opponent %></li>
          </ul>
        </div>
        <div class="m-s-04">
          <a href="https://cafe.naver.com/iemu11?iframe_url=/ArticleList.nhn%3Fsearch.clubid=29862873%26search.menuid=70%26search.boardtype=L" target="_blank" rel="noopener">
            <span>경기리뷰</span>
          </a>
        </div>
      </div>

      <% if user_signed_in? %>
        <%= link_to 'Show', match %>
        <%= link_to 'Edit', edit_match_path(match) %>
        <%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

    <% end %>


  <br>
  <div class="float-wrap">
    <% if user_signed_in? %>
      <%= link_to 'New Match', new_match_path, class: "new-btn" %>
    <% end %>
  </div>

</div>
