<%= render 'menu' %>

<div class="main-container">
  <h2><%= @post.board.title %></h2>

  <h2 class="post-title">
    <%= @post.title %>
  </h2>

  <span><%= @post.user_id %></span>

  <div class="mid-line"></div>

  <p>
    <strong>내용:</strong>
    <%= @post.content %>
  </p>

  <p>
    <strong>조회수:</strong>
    <%= @post.view_count %>
  </p>

  <%= link_to '수정', edit_post_path(@post) %> |
  <%= link_to '삭제', post_path(@post), method: :delete, data: { confirm: '게시물을 삭제하시겠습니까?' }%> |
  <%= link_to '뒤로가기', board_path(@post.board_id) %>
</div>