<%= form_with(model: newspost, local: true) do |form| %>
  <% if newspost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newspost.errors.count, "error") %> prohibited this newspost from being saved:</h2>

      <ul>
        <% newspost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :view_count %>
    <%= form.number_field :view_count %>
  </div>

  <div class="field">
    <%= form.label :user,news_id %>
    <%= form.text_field :user,news_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
