<p id="notice"><%= notice %></p>

<h1>Newsposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>View count</th>
      <th>User,news</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsposts.each do |newspost| %>
      <tr>
        <td><%= newspost.title %></td>
        <td><%= newspost.content %></td>
        <td><%= newspost.view_count %></td>
        <td><%= newspost.user,news_id %></td>
        <td><%= link_to 'Show', newspost %></td>
        <td><%= link_to 'Edit', edit_newspost_path(newspost) %></td>
        <td><%= link_to 'Destroy', newspost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newspost', new_newspost_path %>
