<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">소개</h1>
    <ul class="menu-list">
      <li><%= link_to '인사말 및 조직도', '/intros', class: "menu-list-item" %></li>
      <li><%= link_to '회칙 및 행동강령', '/intros/2', class: "menu-list-item" %></li>
      <li><%= link_to '역사', '/intros/3', class: "menu-list-item" %></li>
      <li><%= link_to '슬로건 및 앰블럼', '/intros/4', class: "menu-list-item" %></li>
      <li><%= link_to '파트너', '/intros/5', class: "menu-list-item" %></li>
    </ul>
  </div>
</div>

<div class="main-container">
  <div class="intro">
    <h2>인사말</h2>
    <div class="intro-img">
      이미지
    </div>
  </div>

  <div class="mid-line"></div>

  <div class="intro">
    <h2>조직도</h2>
    <div class="intro-img">
      이미지
    </div>
  </div>

  <br>
  <%= link_to 'New Intro', new_intro_path %>
  <br>
</div>