<div class="menu-bar">
  <div class="menu">
    <h1 class="menu-title">소개</h1>
    <ul class="menu-list">
      <li><%= link_to '인사말 및 조직도', '/intros', class: "menu-list-item" %></li>
      <li><%= link_to '회칙 및 행동강령', '/intros/2', class: "menu-list-item" %></li>
      <li><%= link_to '역사', '/intros/3', class: "menu-list-item" %></li>
      <li><%= link_to '슬로건 및 앰블럼', '/intros/4', class: "menu-list-item" %></li>
      <li><%= link_to '파트너', '/intros/5', class: "menu-list-item" %></li>
    </ul>
  </div>
</div>

<div class="main-container">
  <h2><%= @intro.title %></h2>

  <p>
    <strong>Content:</strong>
    <%= @intro.content %>
  </p>

  <%= link_to 'Edit', edit_intro_path(@intro) %> |
  <%= link_to 'Back', intros_path %>
</div>